
@using Damacana_Husnucan.Models
@model Purchase

<h3><span class="label label-success">Ödeme Yapıldı </span></h3>

<h3>Ödeme Bilgileri:</h3>

<table style="width:30%">
    <tr>
        <td>
            <div class="alert alert-danger" role="alert">
                <h4 class="media-heading">Toplam Tutar: @Model.TotalPrice TL</h4>
                <h4 class="media-heading">Purchase Id: @Model.Id</h4>
                <h4 class="media-heading">Ödeme Tarihi: @Model.CreatedOn</h4>
            

                </div>
        </td>
    </tr>
</table>
   <nav>
    <table style="width:60%">
        <tr>
            <td>
                <ul class="pager">
                    <li><a href="@Url.Action("PurchaseHistory")">Ödeme Geçmişine Git</a></li>

                </ul>
            </td>
            <td>
                <ul class="pager">
                    <li><a href="@Url.Action("Index")">Ana Sayfaya Dön</a></li>

                </ul>
            </td>
        </tr>
    </table>
</nav>